LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_REDIRECT_URI=https://jarvis.example.com/auth/linkedin/callback
DIFY_API_KEY=your_dify_api_key
DIFY_API_URL=https://asc-assistant-dify-662116-169-58-74-235.sslip.io/v1


